.master-icon {
    height: 72px;
    width: 72px
}

.btn-primary {
    background-color: #629acc;
    border-color: #629acc
}

.btn-primary.disabled, .btn-primary:disabled {
    background-color: #629acc;
    border-color: #629acc;
    opacity: 0.65
}

.saveload-icons {
    margin-top: 5px
}